<div class="container">
    <div class="row">
        <%= render 'users/left', user: @user %>
        <div class="col-xs-8">
            <h2>Recent tweets</h2>
            <table class="table">
                <tr>
                    <%# <th>Time</th> %>
                    <%# <th>Tweet</th> %>
                <%# <% @tweets.each do |tweet| %> %>
                <tr>
                    <%# <td><%= tweet.created_at %></td> %>
                    <%# <td><%= tweet.text %></td> %>
                </tr>
               <%# <% end %> %>
            </table>
            
        </div>
    </div>
</div>